body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.content {
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  width: 18%;
  padding: 1%;
  border-radius: 1rem;
}
.image {
  border-radius: 0.5rem;
  /* The width of the picture is 100% to fit the parent element */
  width: 100%;
}

.heading {
  color: hsl(218, 44%, 22%);
  font-size: 19px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.paragraph {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
/*Media query to accomodate phone and desktop sizes */
@media only screen and(min-width: 375px) and (max-width: 1440px) {
}
