/* Custom varaibles */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-lightgrey: hsl(212, 45%, 89%);
  --color-grayishblue: hsl(220, 15%, 55%);
  --color-darkblue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-lightgrey);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
  background-color: var(--color-white);
  border-radius: 1.5rem;
  padding: 15px;
  margin: 25px 25px;
  width: 360px;
  height: 550px;
}
.container img {
  width: 100%;
  border-radius: 1rem;
}

.heading {
  color: var(--color-darkblue);
  padding-top: 20px;
  font-size: 25px;
}
.paragraph {
  color: var(--color-grayishblue);
  padding: 20px 35px;
  font-size: 15px;
}
